body{
            text-align: center;
        }


.New-button{
            font-style: Arial;
            color: orangered;
           
            margin: 5px;


        }
        .MacBook{
            font-style: arial;
            font-weight: bold;
            margin: 0px;
            margin: 0px;
        }
         .Supercharged{
                
            font-style: arial;
            font-weight: bold;
            
            margin: 0px;
            }
        .price{
          margin: 10px;
          font-style: arial;
          font-weight: 500;
        }
        .Buy{
            border-radius: 50px;
            border: none;
            background-color: rgb(83, 83, 244);
            padding-left: 10px;
            padding-right: 10px;
            font-weight: 600;
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            cursor: pointer;

        }
        .Deals{
            text-align: left;
            font-style: arial;
            margin-top: 10px;
            margin-bottom: 0px;            
        }
        .Sales{
            text-align: left;
            color: orangered;
            font-weight: bold;
            margin-top: 4px;
            font-style: italic;
        }
        .More{
            color: blue;
            cursor: pointer;

        }



